 *{
	box-sizing:border-box;
}

html {
	font-family:'Gill Sans',sans-serif;
}

/*start of index CSS*/

header a.button
	{
		display: inline;
		margin: 0 auto;
		width: 100%;
		height: 10px;
		text-decoration: none;
		font-size: 14px;
		font-weight: bold;
		color: black;
		text-align: center;
		background: rgb(241, 201, 56);
		border-radius: 18px;
		margin: 10px;
		margin:0;
		padding: 2px;

	}

	a.button
	{
		display: inline-block;
		width: auto;
	}

	header
	{
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		width: 100vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: rgba(0, 0, 0, .85);
	}

	nav
	{
		position: static;
		left: auto;
		right: auto;
		bottom: auto;
	}

	nav a
	{
		display: inline-block;
		margin-right: 70px;
		text-decoration: none;
		color: black;
	}

	.logo
	{
		width: 30%;
	}

	body
	{
		padding-top: 80px;
		background-image: url("https://assets.bonappetit.com/photos/5ca680eff7c9b51309c95d26/master/w_640,c_limit/luigis-2.jpg");
		background-repeat: repeat-y;
		background-size: auto;

	}

	.feature h1
	{
		color: rgb(241, 201, 56);
		font-style: italic;
	}

	

	img.resp
	{
		display: none;

	}

	.rbox
	{
		background: rgb(189, 20, 47);
		text-align: center;
		border-radius: 13px;
		padding: 10px;


	}

	.ybox
	{
		background: rgb(241, 201, 56);
		text-align: center;
		border-radius: 13px;
		padding: 10px;

	}

	.top-left
	{
		width: 75%;
	}

	.bottom-left
	{
		margin-left: 75px;

		text align: right;
		width: 75%;
	}

	.centered
	{
		width: 75%;
	}

	.abovecentered
	{
		display: none;
	}

	.foodpic
	{
		width: 99.9%;
		border-radius: 13px;
	}

	.footer
	{
		background-color: rgb(241, 201, 56);
		position: fixed;
		right: 0;
		left: 0;
		bottom: 0;
	}

	.ybox.intro
	{
		display: none;
	}
	
	footer
	{
		background-color: rgb(241, 201, 56);
		margin: 0;
		text-align: center;
		border-radius: 13px;
	}

	/*end of index CSS*/

	/*start of menu CSS*/

	.location
	{
		text-align: center;
		margin: auto;
		color: white;
	}

	.pfp
	{
		display: none;
	}

	/*end of menu CSS*/

	/*start of contact CSS*/

	.conbox
	{
		margin-top: 50px;
		color: rgb(241, 201, 56);
	}

	input[type=text]
	{
		background-color: rgb(241, 201, 56);
		color: black;
		width: 98.5%;
		margin: auto;
		margin-top: 10px;
	}

	input[type=text].bigger
	{
		height: 100px;
		padding-bottom: 80px;
	}

	input[type=text]:focus 
	{
  		border: 3px solid black;
	}

	input[type=button], input[type=submit], input[type=reset] 
	{
	  background-color: rgb(241, 201, 56);
	  border: none;
	  color: black;
	  padding: 16px 32px;
	  text-decoration: none;
	  margin: 4px 2px;
	  cursor: pointer;
	  border: 3px solid black;
	}

	/*end of contact CSS*/

@media only screen and (min-width:769px) 
{
	/* medium screens and larger */

	.backback
	{
		width: ;
	}

	header a.button
	{
		width: 50vw;
		padding: 15px;	
	}

	header
	{
		z-index: 2;
	}

	a:hover
	{
		font-weight: bold;
		font-style: italic;
	}

	.logo
	{
		width: 35%;
	}

	body
	{
		padding-top: 90px;
		background-size: cover;
		margin: 0;

	}

	img.resp
	{
		display: block;
		margin-top: 100px;
		width: 100%;
		height: 40%;
		left: 100px;
		margin: 0;
		padding: 0;
	}

	.bannerimage
	{
		display: block;
		position: relative;
  		text-align: center;
  		color: black;
	}

	/* Top left text */
	.top-left 
	{
	  	position: absolute;
	  	top: 8px;
	  	left: 16px;
	  	width: 200px;
	}

	/* Bottom left text */
	.bottom-left 
	{
	  position: absolute;
	  bottom: 8px;
	  left: 16px;
	  width: 200px;
	  margin-left: 0;
	}

	/* Centered text */
	.centered 
	{
		position: absolute;
		right: 16px;
		bottom: 8px;
		width: 200px;
	}

	.abovecentered 
	{
		display: inline-block;
		position: absolute;
		right: 16px;
		top: 8px;
		width: 200px;
	}

	.feature h1
	{
		text-align: center;
		width: 600px;
		margin: auto;
		margin-top: 30px;
	}
	
	.feature .ybox
	{
		margin: auto;
		width: 600px;
		text-align: center;
		margin-top: 15px;
	}

	.ybox.intro
	{
		display: inline-block;
		margin-left: 27.75%;
		margin-right: 25%;
	}

	

	/*menu CSS*/

	.food
	{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin: 40px;
	}

	.foodpic
	{
		width: 272px;
		height: auto;
		border-radius: 20px;
		margin: 20px;
	}

	.long
	{
		width: 272px;
	}

	/*end of menu CSS*/



	/*event page CSS*/

	.pfp
	{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin: 40px;
		width: 50px;
		height: 50px;
	}

	.review
	{
		width: 500px;
	}
	


	/*end of event page CSS*/

	/*contact page CSS ˇ*/

	input[type=text]
	{
		margin: 10px;
	}
}








